.imagage{
	width:240px;
	height:200px;
	/*border:1px #bebebe solid;*/
	float:left;
	margin-left:-36px;
	padding-left:0px;
}
.imagage img{
	width:200px;
	height:160px;
	margin:3px;
	border:1px solid #bebebe;
	display:inline;
	float:left;
	margin-bottom:0px;
	opacity:0.5;
}
.imagage a:hover img{
	opacity:1;
	border:1px solid #333333;
}
#paris{
	margin-left:150px;
}

.desc{
	width:125px;
	height:20px;
	border:1px #bebebe solid;
	float:left;
	padding-left:75px;
	margin-top:0px;
	margin-left:3px;
}